<p>
  	<div id="state_select">
	  State or Territory<br />
	  <% if !@borrower.nil? && !@borrower.state.nil? %>
	    <% if states.nil? %>
		  <%= text_field :borrower, :state %>
		<% else %>
		  <%= select :borrower, :state, states %>
		<% end %>
	  <% elsif @states.nil? %>
		<%= text_field :borrower, :state %>	
	  <% else %>
	    <%= select :borrower, :state, @states %>
	  <% end %>
	</div>
</p>