<% content_for :header do %>General Borrowers<% end %>
<div class="nodes collection-list">	
	<% if @general_event.nil? %>
	  <p>The general event for all borrowers has not been created yet.</p>
	<% elsif @borrowers.nil? || @borrowers.empty? %>
	  <p>There are no borrowers yet.</p>
	<% else %>
      <%= render :partial => "list", :locals => { :borrowers => @borrowers } %>
	<% end %>
  <p>
  <% if current_user.admin? %>
	<%= link_to 'New Borrower', new_borrower_path(:event_id => @general_event.id) %>
  <% end %>
  </p>
</div>



